<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<style>
    button{
        color: rgb(0, 0, 0);
        background-color: rgb(145, 177, 179);
        margin: 17px;
        width: 150px;
        height:40px;
    }

    h2{
        margin: 20px;
    }
</style>
<body>
    <h2>
        Escolha um desses países da Ásia
    </h2>
    <ul>
        <li> <a href="Coreiadosul" title="Coreia do Sul "><button>Coreia do SUl</button> </a> </li>
        <li> <a href="India" title="India"><button>India</button> </a> </li>
        <li> <a href="Japão" title="Japão"><button>Japão</button> </a> </li>
     </ul>
</body>
</html>